html {
  scroll-snap-type: y mandatory;
}
.app__videos {
  position: relative;
  height: 800px;
  overflow: scroll;
  width: 80%;
  border-radius: 20px;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}
.app {
  background-color: rgb(133, 119, 119);
  height: 100vh;
  display: grid;
  place-items: center;
}
/* Dont use overflow hidden to close scroll bar it will remove scroll n snap functionality
so use the below code instead */

/* Hide scrollbar for Chrome , Safari and Opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Hide scroll bar for IE, Edge and Firefox */
.app__videos {
  -ms-overflow-style: none; /* IE n Edge */
  scrollbar-width: none; /* Firefox */
}
